{% extends "base.html" %}

{% block content %}

<h2>Contacts</h2>
<p>Step {{wizard.steps.step1}} of {{wizard.steps.count}}.</p>

{% for field in form %}
	{{ field.error }}
{% endfor %}

<form action="/contacts/" method="post" role="form">{% csrf_token %}
	<div class="form-group">
	<table>

		{{wizard.management_form}}
		{% if wizard.form.forms %}
			{{wizard.form.management_form }}
			{% for form in wizard.form.forms %}
				{{form}}
			{% endfor %}
		{% else %}
			{{ wizard.form }}
		{% endif %}

	</table>
</div>
	{% if wizard.steps.prev %}
	<div class="form-group">
		<button name="wizard_goto_step" class="btn btn-default btn-sm"type="submit" value="{{wizard.steps.first}}">first step</button>
		<button name="wizard_goto_step" class="btn btn-default btn-sm" type="submit" value="{{wizard.steps.prev}}"> prev step</button>
	</div>
	{% endif %}

	<div class="form-group">
		<input type="submit" class="btn btn-success" value="Submit">
	</div>
</form>

{% endblock %}